<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Created with Inkscape (http://www.inkscape.org/) -->

<svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   width="160.41257"
   height="50.000011"
   viewBox="0 0 42.44249 13.22917"
   version="1.1"
   id="svg20630"
   inkscape:version="0.92.2 (unknown)"
   sodipodi:docname="om-banner.svg">
  <defs
     id="defs20624" />
  <sodipodi:namedview
     id="base"
     pagecolor="#ffffff"
     bordercolor="#666666"
     borderopacity="1.0"
     inkscape:pageopacity="0.0"
     inkscape:pageshadow="2"
     inkscape:zoom="4.0758077"
     inkscape:cx="50.46925"
     inkscape:cy="-14.940478"
     inkscape:document-units="mm"
     inkscape:current-layer="layer1"
     showgrid="false"
     units="px"
     inkscape:pagecheckerboard="false"
     showborder="true"
     inkscape:showpageshadow="false"
     showguides="true"
     inkscape:guide-bbox="true"
     inkscape:window-width="1865"
     inkscape:window-height="1176"
     inkscape:window-x="55"
     inkscape:window-y="24"
     inkscape:window-maximized="1" />
  <metadata
     id="metadata20627">
    <rdf:RDF>
      <cc:Work
         rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type
           rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
        <dc:title></dc:title>
      </cc:Work>
    </rdf:RDF>
  </metadata>
  <g
     inkscape:groupmode="layer"
     id="layer3"
     inkscape:label="application name"
     style="display:inline">
    <flowRoot
       inkscape:export-ydpi="95.999977"
       inkscape:export-xdpi="95.999977"
       transform="matrix(0.07873433,0,0,0.07873433,13.702917,-7.7955779)"
       xml:space="preserve"
       id="flowRoot20578"
       style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;line-height:0.01%;font-family:'Caviar Dreams';-inkscape-font-specification:'Caviar Dreams, Normal';text-align:justify;writing-mode:lr-tb;text-anchor:start;display:inline;opacity:1;fill:{{ base_color }};fill-opacity:1;stroke:none;stroke-width:50;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"><flowRegion
         id="flowRegion20574"><rect
           id="rect20572"
           width="1151.0508"
           height="300.52069"
           x="-2.7759426"
           y="171.23817"
           style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:63.14857483px;line-height:125%;font-family:'Caviar Dreams';-inkscape-font-specification:'Caviar Dreams, Normal';text-align:justify;writing-mode:lr-tb;text-anchor:start;fill:{{ base_color }};fill-opacity:1;stroke:none" /></flowRegion><flowPara
         id="flowPara20576"
         style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:71.68975067px;line-height:125%;font-family:'Caviar Dreams';-inkscape-font-specification:'Caviar Dreams, Normal';text-align:justify;writing-mode:lr-tb;text-anchor:start;fill:{{ base_color }};fill-opacity:1">{{ application_name }}</flowPara></flowRoot>    <flowRoot
       xml:space="preserve"
       id="flowRoot21228"
       style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:40px;line-height:125%;font-family:sans-serif;-inkscape-font-specification:'sans-serif Bold';letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       transform="scale(0.26458333)"><flowRegion
         id="flowRegion21230"><rect
           id="rect21232"
           width="217.87093"
           height="106.23661"
           x="-47.597927"
           y="-32.437649" /></flowRegion><flowPara
         id="flowPara21234"></flowPara></flowRoot>  </g>
  <g
     inkscape:label="logo"
     inkscape:groupmode="layer"
     id="layer1"
     transform="translate(0,-283.7708)"
     style="display:inline">
    <path
       inkscape:export-ydpi="95.999977"
       inkscape:export-xdpi="95.999977"
       sodipodi:nodetypes="cccc"
       inkscape:connector-curvature="0"
       id="use20568"
       d="m 6.322273,290.99474 c -1.15927,2.00181 -2.3187171,4.00352 -3.4781519,6.00523 2.318839,0 4.6376759,0 6.9565149,0 -1.1594549,-2.00174 -2.3189049,-4.00349 -3.478363,-6.00523 z"
       style="display:inline;opacity:1;fill:{{ triangle_color }};fill-opacity:1;stroke:none;stroke-width:1.16445386;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1" />
    <path
       inkscape:export-ydpi="95.999977"
       inkscape:export-xdpi="95.999977"
       inkscape:connector-curvature="0"
       id="path20570"
       d="M 6.2986412,283.7708 C 2.834908,283.7708 0,286.59455 0,290.04466 c 0,1.89949 0.860377,3.60803 2.210855,4.76116 l 0.9385751,-1.61919 0.3492119,-0.6025 c -0.6094751,-0.66732 -0.979104,-1.55667 -0.979104,-2.53947 0,-2.09384 1.6769841,-3.76423 3.7791032,-3.76423 2.1021109,0 3.7793148,1.67039 3.7793148,3.76423 0,0.9828 -0.3695749,1.87215 -0.979105,2.53947 l 0.3492111,0.6025 0.9385749,1.61897 c 1.350444,-1.15312 2.210855,-2.86152 2.210855,-4.76094 0,-3.45011 -2.8351179,-6.27386 -6.2988508,-6.27386 z"
       style="color:{{ base_color }};font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:medium;line-height:normal;font-family:sans-serif;text-indent:0;text-align:start;text-decoration:none;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:#000000;letter-spacing:normal;word-spacing:normal;text-transform:none;writing-mode:lr-tb;direction:ltr;baseline-shift:baseline;text-anchor:start;white-space:normal;clip-rule:nonzero;display:inline;overflow:visible;visibility:visible;opacity:1;isolation:auto;mix-blend-mode:normal;color-interpolation:sRGB;color-interpolation-filters:linearRGB;solid-color:{{ base_color }};solid-opacity:1;fill:{{ base_color }};fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:1.7973007;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;color-rendering:auto;image-rendering:auto;shape-rendering:auto;text-rendering:auto;enable-background:accumulate" />
  </g>
</svg>
