<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Created with Inkscape (http://www.inkscape.org/) -->

<svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   width="84.984306mm"
   height="64.516586mm"
   viewBox="0 0 84.984309 64.516586"
   version="1.1"
   id="svg6589"
   inkscape:version="0.92.2 (unknown)"
   sodipodi:docname="om.svg">
  <defs
     id="defs6583" />
  <sodipodi:namedview
     id="base"
     pagecolor="#ffffff"
     bordercolor="#666666"
     borderopacity="1.0"
     inkscape:pageopacity="0.0"
     inkscape:pageshadow="2"
     inkscape:zoom="0.75568886"
     inkscape:cx="657.75416"
     inkscape:cy="-59.94758"
     inkscape:document-units="mm"
     inkscape:current-layer="layer1"
     showgrid="false"
     inkscape:window-width="1920"
     inkscape:window-height="1176"
     inkscape:window-x="1920"
     inkscape:window-y="24"
     inkscape:window-maximized="1" />
  <metadata
     id="metadata6586">
    <rdf:RDF>
      <cc:Work
         rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type
           rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
        <dc:title />
      </cc:Work>
    </rdf:RDF>
  </metadata>
  <g
     inkscape:label="Calque 1"
     inkscape:groupmode="layer"
     id="layer1">
    <path
       style="display:inline;opacity:1;fill:{{ color }};fill-opacity:1;stroke:none;stroke-width:3.91309714;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
       d="m 42.491799,24.275718 c -3.895677,6.727 -7.79195,13.45366 -11.68818,20.18032 7.792357,0 15.58471,0 23.377067,0 -3.896302,-6.72677 -7.792577,-13.45355 -11.688887,-20.18032 z"
       id="path20586"
       inkscape:connector-curvature="0"
       sodipodi:nodetypes="cccc"
       inkscape:export-xdpi="90"
       inkscape:export-ydpi="90" />
    <flowRoot
       transform="matrix(0.26458333,0,0,0.26458333,8.1166283e-5,0.52630418)"
       xml:space="preserve"
       id="flowRoot19771"
       style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;line-height:0.01%;font-family:'Caviar Dreams';-inkscape-font-specification:'Caviar Dreams, Normal';text-align:justify;writing-mode:lr-tb;text-anchor:start;display:inline;opacity:1;fill:#808080;fill-opacity:1;stroke:none;stroke-width:50;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
       inkscape:export-xdpi="90"
       inkscape:export-ydpi="90"><flowRegion
         id="flowRegion19773"><rect
           id="rect19775"
           width="1151.0508"
           height="300.52069"
           x="-2.7759426"
           y="171.23817"
           style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:63.14857483px;line-height:125%;font-family:'Caviar Dreams';-inkscape-font-specification:'Caviar Dreams, Normal';text-align:justify;writing-mode:lr-tb;text-anchor:start;fill:#808080;fill-opacity:1;stroke:none" /></flowRegion><flowPara
         id="flowPara19777"
         style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:63.14857483px;line-height:125%;font-family:'Caviar Dreams';-inkscape-font-specification:'Caviar Dreams, Normal';text-align:justify;writing-mode:lr-tb;text-anchor:start;fill:#808080;fill-opacity:1">{{ application_name }}</flowPara></flowRoot>    <path
       inkscape:connector-curvature="0"
       id="path20594"
       d="M 42.491797,1.8225465e-7 C 30.852072,1.8225465e-7 21.325484,9.4890962 21.325484,21.083008 c 0,6.38318 2.89126,12.12466 7.429485,15.99968 l 3.154039,-5.44122 1.173512,-2.02467 c -2.048116,-2.24251 -3.290237,-5.2311 -3.290237,-8.53379 0,-7.03626 5.635435,-12.6495228 12.699514,-12.6495228 7.064049,0 12.700219,5.6132628 12.700219,12.6495228 0,3.30269 -1.241938,6.29128 -3.290234,8.53379 l 1.173509,2.02467 3.15404,5.4405 c 4.53811,-3.87502 7.429487,-9.61602 7.429487,-15.99896 C 63.658818,9.4890962 54.131524,1.8225465e-7 42.491797,1.8225465e-7 Z"
       style="color:#000000;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:medium;line-height:normal;font-family:sans-serif;text-indent:0;text-align:start;text-decoration:none;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:#000000;letter-spacing:normal;word-spacing:normal;text-transform:none;writing-mode:lr-tb;direction:ltr;baseline-shift:baseline;text-anchor:start;white-space:normal;clip-rule:nonzero;display:inline;overflow:visible;visibility:visible;opacity:1;isolation:auto;mix-blend-mode:normal;color-interpolation:sRGB;color-interpolation-filters:linearRGB;solid-color:#000000;solid-opacity:1;fill:#999999;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:6.03975105;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;color-rendering:auto;image-rendering:auto;shape-rendering:auto;text-rendering:auto;enable-background:accumulate"
       inkscape:export-xdpi="90"
       inkscape:export-ydpi="90" />
  </g>
</svg>
